.container-crud {
    width: 90%;
    min-height: 50vh;
    margin: auto;
}

.container-crud h3 {
    text-align: center;
    text-transform: uppercase;
    color: #048b9a;
    padding: 5rem 0 3rem;
    font-size: 2rem;
}

.container-crud h4 {
    text-align: center;
    text-transform: uppercase;
    color: #048b9a;
    padding: 2rem;
    font-size: 1.5rem;
}

.container-crud a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

.crud-table {
    margin-bottom: 2rem;
}

.crud-table th, .crud-table td  {
    background-color: rgb(235, 235, 235);
    padding: 3px;
}

.crud-pic-list {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.crud-section {
    text-align: center;
}

.separate-pic-form {
    margin: 5px;
}

.crud-form input, .crud-form label {
    display: block;
    width: fit-content;
}

.crud-form textarea {
    margin: 0;
    padding: 0;
}

.crud-form input, .crud-form select {
    margin-bottom: 1rem;
}

.crud-form, .crud-table {
    border: 3px #048b9a solid;
    border-radius: 10px;
}

.photo-form input{
    margin-bottom: 1;
}

.photo-form {
    margin-bottom: 1rem;
}

.crud-form {
    padding: 1rem;
}

#addPicture {
    margin-bottom: 1rem;
}