.sous-titre {
    text-align: center;
    font-size: 180%;
    color: #ef9628;
    margin: 4rem 0 2rem;
}

.text-section {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    color: #048b9a;
}

.article-date {
    margin-left: 20%;
    color: #048b9a;
    margin-bottom: 10rem;
}

.text-section li {
    margin-left: 3rem;
}

.picture1{
    display: flex;
    justify-content: center;
    padding: 3%;
    gap: 30px;
}
.picture1 img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.circle {
    display: block;
    background:  #c9eaec;
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    position: absolute;
    z-index: -2;
    left: 70%;
    top: -1%;
}